language: php

php:
    - 5.5
    - 5.6
    - 7.0

notifications:
    slack: idevbe:KNDVPNz705HzxF8EgrDet4pL

before_script:
    - travis_retry composer self-update
    - travis_retry composer install --no-interaction --prefer-source --dev
    - pip install --user codecov

after_success:
    - codecov --token=f20ba546-58d3-47d0-b86c-2d4c14745236
