@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,700,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #636E7B;
  background: #fcfcfc;
}

a {
  color: #575C5E;
}

a:focus {
  outline: none;
}

a:hover,
a:focus {
  color: #5090f7;
}

a.link-unstyled {
  text-decoration: none;
  color: #8b97ae;
}

a.link-unstyled:hover,
a.link-unstyled:focus {
  color: #7f888f;
}

h1 .main-text,
.h1 .main-text {
  float: left;
}

h1 .main-text + small,
.h1 .main-text + small {
  margin-left: 10px;
}

h1 .main-text .badge,
.h1 .main-text .badge {
  margin-top: 8px;
  letter-spacing: normal;
}

h2,
.h2 {
  color: #1d1d1d;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.618;
  margin: 0;
}

h3,
.h3 {
  color: #1d1d1d;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.618;
  margin: 0 0 2px 0;
}

h4,
.h4 {
  color: #1d1d1d;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

h5,
.h5 {
  color: #1d1d1d;
}

h6,
.h6 {
  color: #1d1d1d;
}

.text-warning {
  color: #f89406;
}

/*Hide elements by display none only*/

.hide {
  display: none;
}

/* Remove borders */

.no-border {
  border: 0px;
}

/* Remove padding */

.no-padding {
  padding: 0px;
}

/* Remove margins */

.no-margin {
  margin: 0px;
}

/* Remove box shadow */

.no-shadow {
  box-shadow: none;
}

.main-footer {
  margin-left: 0;
  min-height: 0;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  background: #fff;
  padding: 15px;
  color: #444;
  border-top: 1px solid #eee;
}

#wrapper {
  padding-top: 37px;
  padding-left: 0;
  transition: all .5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

.page-header {
  margin-top: 5px;
}

#sidebar-wrapper {
  margin-top: 1px;
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #f5f5f5;
  transition: all .5s ease;
  border-right: 1px solid #e1e1e1;
}

#sidebar-wrapper a {
  color: #4f5051;
  text-decoration: none;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  min-height: 500px;
  padding: 20px;
  background: #fcfcfc;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

.row_full {
  margin-left: -25px;
  margin-right: -25px;
  padding: 15px 0;
  background: #ecf0f1;
  border-width: 1px 0;
  border-style: solid;
  border-color: #e2e2e2;
}

.form-multiline .form-group {
  margin-bottom: 15px;
  margin-right: 30px;
}

.form-multiline label,
.form-multiline .form-control {
  margin-right: 15px;
}

.pagination-contact {
  margin-top: -3px;
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    margin-top: 15px;
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

.state-icon {
  left: -5px;
}

.list-group-item-primary {
  color: white;
  background-color: #428bca;
}

.entry:not(:first-of-type) {
  margin-top: 10px;
}

.top-border + .top-border {
  display: none;
}

/* Background colors */

.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black,
.bg-red-active,
.bg-yellow-active,
.bg-aqua-active,
.bg-blue-active,
.bg-light-blue-active,
.bg-green-active,
.bg-navy-active,
.bg-teal-active,
.bg-olive-active,
.bg-lime-active,
.bg-orange-active,
.bg-fuchsia-active,
.bg-purple-active,
.bg-maroon-active,
.bg-black-active,
.callout.callout-danger,
.callout.callout-warning,
.callout.callout-info,
.callout.callout-success,
.alert-danger,
.alert-error,
.alert-warning,
.alert-info,
.label-danger,
.label-info,
.label-waring,
.label-primary,
.label-success {
  color: #fff;
}

.bg-gray {
  color: #000;
  background-color: #d2d6de;
}

.bg-black {
  background-color: #111111;
}

.bg-red,
.callout.callout-danger,
.alert-danger,
.alert-error,
.label-danger,
.modal-danger .modal-body {
  background-color: #dd4b39;
}

.bg-yellow,
.callout.callout-warning,
.alert-warning,
.label-waring,
.modal-warning .modal-body {
  background-color: #f39c12;
}

.bg-aqua,
.callout.callout-info,
.alert-info,
.label-info,
.modal-info .modal-body {
  background-color: #00c0ef;
}

.bg-blue {
  background-color: #0073b7;
}

.bg-light-blue,
.label-primary,
.modal-primary .modal-body {
  background-color: #3c8dbc;
}

.bg-green,
.callout.callout-success,
.label-success,
.modal-success .modal-body {
  background-color: #00a65a;
}

.bg-navy {
  background-color: #001f3f;
}

.bg-teal {
  background-color: #39cccc;
}

.bg-olive {
  background-color: #3d9970;
}

.bg-lime {
  background-color: #01ff70;
}

.bg-orange {
  background-color: #ff851b;
}

.bg-fuchsia {
  background-color: #f012be;
}

.bg-purple {
  background-color: #605ca8;
}

.bg-maroon {
  background-color: #d81b60;
}

.bg-gray-active {
  color: #000;
  background-color: #b5bbc8;
}

.bg-black-active {
  background-color: #000000;
}

.bg-red-active,
.modal-danger .modal-header,
.modal-danger .modal-footer {
  background-color: #d33724;
}

.bg-yellow-active,
.modal-warning .modal-header,
.modal-warning .modal-footer {
  background-color: #db8b0b;
}

.bg-aqua-active,
.modal-info .modal-header,
.modal-info .modal-footer {
  background-color: #00a7d0;
}

.bg-blue-active {
  background-color: #005384;
}

.bg-light-blue-active,
.modal-primary .modal-header,
.modal-primary .modal-footer {
  background-color: #357ca5;
}

.bg-green-active,
.modal-success .modal-header,
.modal-success .modal-footer {
  background-color: #008d4c;
}

.bg-navy-active {
  background-color: #001a35;
}

.bg-teal-active {
  background-color: #30bbbb;
}

.bg-olive-active {
  background-color: #368763;
}

.bg-lime-active {
  background-color: #00e765;
}

.bg-orange-active {
  background-color: #ff7701;
}

.bg-fuchsia-active {
  background-color: #db0ead;
}

.bg-purple-active {
  background-color: #555299;
}

.bg-maroon-active {
  background-color: #ca195a;
}

[class^="bg-"].disabled {
  opacity: 0.65;
  filter: alpha(opacity=65);
}

.text-red {
  color: #dd4b39;
}

.text-yellow {
  color: #f39c12;
}

.text-aqua {
  color: #00c0ef;
}

.text-blue {
  color: #5090f7;
}

.text-black {
  color: #111111;
}

.text-light-blue {
  color: #3c8dbc;
}

.text-green {
  color: #00a65a;
}

.text-gray {
  color: #ebeff2;
}

.text-navy {
  color: #001f3f;
}

.text-teal {
  color: #39cccc;
}

.text-olive {
  color: #3d9970;
}

.text-lime {
  color: #3d9970;
}

.text-orange {
  color: #ff851b;
}

.text-fuchsia {
  color: #f012be;
}

.text-purple {
  color: #605ca8;
}

.text-maroon {
  color: #d81b60;
}

.alert-warning {
  background-color: #f47c3c;
  border-color: transparent;
  color: #ffffff;
}

.btn {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  border-radius: 2px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none !important;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3);
}

.btn-primary {
  background-color: #226FBC;
  border-color: #226FBC;
  color: #fff;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.30;
  border-radius: 15px;
}

/* button groups */

.btn-group-vertical .btn.btn-flat:first-of-type,
.btn-group-vertical .btn.btn-flat:last-of-type {
  border-radius: 0;
}

.block {
  margin-bottom: 20px;
  clear: both;
  display: block;
  width: 100%;
}

.box {
  padding: 15px;
  background-color: #fff;
}

.block.collapsed {
  overflow: hidden;
}

.block .block-heading {
  background: none repeat scroll 0 0 #fff;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  border-top: 1px solid #e6e6e6;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin: 0;
}

.block .block-heading + .block-content-outer {
  border-top: 0;
}

.c-widget .c-widget-heading,
.block .block-heading {
  float: left;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  width: 100%;
}

.c-widget .c-widget-heading .h2,
.c-widget .c-widget-heading .main-text,
.block .block-heading .h2,
.block .block-heading .main-text {
  float: left;
}

.block .block-heading .main-text .badge {
  margin-top: 6px;
}

.block .block-heading .block-controls {
  float: right;
  margin: 7px 0 0;
}

.block .block-heading .block-controls > a,
.block .block-heading .block-controls > button,
.block .block-heading .block-controls > div.btn-group {
  float: right;
  margin: 0 0 4px 4px;
}

.block .block-heading .block-controls > .icon {
  float: right;
  opacity: 0.5;
  margin: 0 0 0 4px;
  cursor: pointer;
  transition: all .5s;
}

.block .block-heading .block-controls .icon:hover {
  opacity: 1;
}

.block .block-content-outer {
  background: none repeat scroll 0 0 #fff;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  border-top: 1px solid #e6e6e6;
  border-bottom: 3px solid #4596f1;
  padding: 10px;
  clear: both;
  position: relative;
  border-radius: 0 0 5px 5px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2);
}

.block.collapsed .block-heading {
  border-radius: 0 0 5px 5px;
}

.block.collapsed .block-content-outer {
  display: none;
}

.block.collapsed .block-heading .block-controls .icon.block-control-collapse {
  color: #FF0000;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.block-toggle {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -8px;
}

/* Block Colors */

.block.highlight-color-green,
.block.highlight-color-orange,
.block.highlight-color-yellow,
.block.highlight-color-blue,
.block.highlight-color-red,
.block.highlight-color-lime,
.block.highlight-color-purple {
  border-bottom: 0;
}

.block.highlight-color-green .block-content-outer {
  border-bottom: 3px solid #6ec06e;
}

.block.highlight-color-orange .block-content-outer {
  border-bottom: 3px solid #ff8b1a;
}

.block.highlight-color-yellow .block-content-outer {
  border-bottom: 3px solid #ffd040;
}

.block.highlight-color-blue .block-content-outer {
  border-bottom: 3px solid #4596f1;
}

.block.highlight-color-red .block-content-outer {
  border-bottom: 3px solid #f14141;
}

.block.highlight-color-lime .block-content-outer {
  border-bottom: 3px solid #b2cd4d;
}

.block.highlight-color-purple .block-content-outer {
  border-bottom: 3px solid #ff4db6;
}

/* Block Sizes */

.block .block-content-outer .block-content-inner {
  height: auto;
}

.block .block-size-medium .block-content-outer .block-content-inner {
  height: 283px;
  overflow: hidden;
}

.block .block-size-normal .block-content-outer .block-content-inner {
  height: 210px;
  overflow: hidden;
}

.block .block-size-large .block-content-outer .block-content-inner {
  height: 720px;
  overflow: hidden;
}

.form-control {
  border-color: #e4eef0;
  font-size: 12px;
  border-radius: 2px;
  background-color: #f9fafb;
  box-shadow: none;
  -webkit-box-shadow: none;
  transition: none;
  -webkit-transition: none;
}

.form-control:not(select) {
  -webkit-appearance: none;
}

.form-control:focus {
  background-color: #fff;
  border-color: #e4eef0;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.form-control::-webkit-input-placeholder {
  color: #c6cbd7;
  font-size: 12px;
}

.form-control::-moz-placeholder {
  color: #c6cbd7;
  font-size: 12px;
}

.form-control:-ms-input-placeholder {
  color: #c6cbd7;
  font-size: 12px;
}

.form-control.input-rounded {
  border-radius: 50em;
}

.form-control.input-white {
  background-color: #fff;
}

.form-control.input-hover-border:focus {
  border-color: #5090f7;
}

.form-control.input-hover-border.input-hover-2x:focus {
  box-shadow: 0 0 0 1px #5090f7 inset;
  -webkit-box-shadow: 0 0 0 1px #5090f7 inset;
}

.form-control.input-hover-2x:focus {
  box-shadow: 0 0 0 1px #e4eef0 inset;
  -webkit-box-shadow: 0 0 0 1px #e4eef0 inset;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #ebf2f4;
  opacity: 1;
  color: #98a6ad;
  text-shadow: 0 1px #fff;
  font-weight: 400;
}

.form-input-group .form-control + .form-control {
  border-top: 0;
}

.form-group-lg .form-control,
.input-lg {
  font-size: 16px;
}

.form-group-lg .form-control::-webkit-input-placeholder,
.input-lg::-webkit-input-placeholder {
  font-size: 16px;
}

.form-group-lg .form-control::-moz-placeholder,
.input-lg::-moz-placeholder {
  font-size: 16px;
}

.form-group-lg .form-control:-ms-input-placeholder,
.input-lg:-ms-input-placeholder {
  font-size: 16px;
}

.navbar-input-group {
  font-size: 0;
}

.navbar-input-group input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.navbar-input-group .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}

.input-group .input-group-addon {
  border-radius: 0px;
  border-color: #d2d6de;
  background-color: #fff;
}

.form-horizontal .control-label {
  text-align: left;
}

.bootstrap-datetimepicker-widget {
  list-style: none;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  margin: 2px 0;
  padding: 4px;
  width: 19em;
}

@media (min-width: 768px) {
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}

@media (min-width: 992px) {
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}

@media (min-width: 1200px) {
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}

.bootstrap-datetimepicker-widget.dropdown-menu:before,
.bootstrap-datetimepicker-widget.dropdown-menu:after {
  content: '';
  display: inline-block;
  position: absolute;
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #cccccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  top: -7px;
  left: 7px;
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  top: -6px;
  left: 8px;
}

.bootstrap-datetimepicker-widget.dropdown-menu.top:before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #cccccc;
  border-top-color: rgba(0, 0, 0, 0.2);
  bottom: -7px;
  left: 6px;
}

.bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
  bottom: -6px;
  left: 7px;
}

.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:before {
  left: auto;
  right: 6px;
}

.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:after {
  left: auto;
  right: 7px;
}

.bootstrap-datetimepicker-widget .list-unstyled {
  margin: 0;
}

.bootstrap-datetimepicker-widget a[data-action] {
  padding: 6px 0;
}

.bootstrap-datetimepicker-widget a[data-action]:active {
  box-shadow: none;
}

.bootstrap-datetimepicker-widget .timepicker-hour,
.bootstrap-datetimepicker-widget .timepicker-minute,
.bootstrap-datetimepicker-widget .timepicker-second {
  width: 54px;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
}

.bootstrap-datetimepicker-widget button[data-action] {
  padding: 6px;
}

.bootstrap-datetimepicker-widget .btn[data-action="incrementHours"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Increment Hours";
}

.bootstrap-datetimepicker-widget .btn[data-action="incrementMinutes"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Increment Minutes";
}

.bootstrap-datetimepicker-widget .btn[data-action="decrementHours"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Decrement Hours";
}

.bootstrap-datetimepicker-widget .btn[data-action="decrementMinutes"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Decrement Minutes";
}

.bootstrap-datetimepicker-widget .btn[data-action="showHours"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Show Hours";
}

.bootstrap-datetimepicker-widget .btn[data-action="showMinutes"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Show Minutes";
}

.bootstrap-datetimepicker-widget .btn[data-action="togglePeriod"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Toggle AM/PM";
}

.bootstrap-datetimepicker-widget .btn[data-action="clear"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Clear the picker";
}

.bootstrap-datetimepicker-widget .btn[data-action="today"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Set the date to today";
}

.bootstrap-datetimepicker-widget .picker-switch {
  text-align: center;
}

.bootstrap-datetimepicker-widget .picker-switch::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Toggle Date and Time Screens";
}

.bootstrap-datetimepicker-widget .picker-switch td {
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
  line-height: inherit;
}

.bootstrap-datetimepicker-widget .picker-switch td span {
  line-height: 2.5;
  height: 2.5em;
  width: 100%;
}

.bootstrap-datetimepicker-widget table {
  width: 100%;
  margin: 0;
}

.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table th {
  text-align: center;
  border-radius: 4px;
}

.bootstrap-datetimepicker-widget table th {
  height: 20px;
  line-height: 20px;
  width: 20px;
}

.bootstrap-datetimepicker-widget table th.picker-switch {
  width: 145px;
}

.bootstrap-datetimepicker-widget table th.disabled,
.bootstrap-datetimepicker-widget table th.disabled:hover {
  background: none;
  color: #777777;
  cursor: not-allowed;
}

.bootstrap-datetimepicker-widget table th.prev::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Previous Month";
}

.bootstrap-datetimepicker-widget table th.next::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Next Month";
}

.bootstrap-datetimepicker-widget table thead tr:first-child th {
  cursor: pointer;
}

.bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  background: #eeeeee;
}

.bootstrap-datetimepicker-widget table td {
  height: 54px;
  line-height: 54px;
  width: 54px;
}

.bootstrap-datetimepicker-widget table td.cw {
  font-size: .8em;
  height: 20px;
  line-height: 20px;
  color: #777777;
}

.bootstrap-datetimepicker-widget table td.day {
  height: 20px;
  line-height: 20px;
  width: 20px;
}

.bootstrap-datetimepicker-widget table td.day:hover,
.bootstrap-datetimepicker-widget table td.hour:hover,
.bootstrap-datetimepicker-widget table td.minute:hover,
.bootstrap-datetimepicker-widget table td.second:hover {
  background: #eeeeee;
  cursor: pointer;
}

.bootstrap-datetimepicker-widget table td.old,
.bootstrap-datetimepicker-widget table td.new {
  color: #777777;
}

.bootstrap-datetimepicker-widget table td.today {
  position: relative;
}

.bootstrap-datetimepicker-widget table td.today:before {
  content: '';
  display: inline-block;
  border: solid transparent;
  border-width: 0 0 7px 7px;
  border-bottom-color: #337ab7;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #337ab7;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.bootstrap-datetimepicker-widget table td.active.today:before {
  border-bottom-color: #fff;
}

.bootstrap-datetimepicker-widget table td.disabled,
.bootstrap-datetimepicker-widget table td.disabled:hover {
  background: none;
  color: #777777;
  cursor: not-allowed;
}

.bootstrap-datetimepicker-widget table td span {
  display: inline-block;
  width: 54px;
  height: 54px;
  line-height: 54px;
  margin: 2px 1.5px;
  cursor: pointer;
  border-radius: 4px;
}

.bootstrap-datetimepicker-widget table td span:hover {
  background: #eeeeee;
}

.bootstrap-datetimepicker-widget table td span.active {
  background-color: #337ab7;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.bootstrap-datetimepicker-widget table td span.old {
  color: #777777;
}

.bootstrap-datetimepicker-widget table td span.disabled,
.bootstrap-datetimepicker-widget table td span.disabled:hover {
  background: none;
  color: #777777;
  cursor: not-allowed;
}

.bootstrap-datetimepicker-widget.usetwentyfour td.hour {
  height: 27px;
  line-height: 27px;
}

.bootstrap-datetimepicker-widget.wider {
  width: 21em;
}

.bootstrap-datetimepicker-widget .datepicker-decades .decade {
  line-height: 1.8em !important;
}

.input-group.date .input-group-addon {
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.fc-button {
  background: #f4f4f4 none;
  color: #444;
  border-color: #ddd;
}

.fc-button:hover,
.fc-button:active,
.fc-button.hover {
  background-color: #e9e9e9;
}

.fc-header-title h2 {
  font-size: 15px;
  line-height: 1.6em;
  color: #666;
  margin-left: 10px;
}

.fc-header-right {
  padding-right: 10px;
}

.fc-header-left {
  padding-left: 10px;
}

.fc-widget-header {
  background: #fafafa;
}

.fc-grid {
  width: 100%;
  border: 0;
}

.fc-widget-header:first-of-type,
.fc-widget-content:first-of-type {
  border-left: 0;
  border-right: 0;
}

.fc-widget-header:last-of-type,
.fc-widget-content:last-of-type {
  border-right: 0;
}

.fc-toolbar {
  padding: 10px;
  margin: 0;
}

.fc-day-number {
  font-size: 20px;
  font-weight: 300;
  padding-right: 10px;
}

.fc-color-picker {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fc-color-picker > li {
  float: left;
  font-size: 30px;
  margin-right: 5px;
  line-height: 30px;
}

.fc-color-picker > li .fa {
  transition: -webkit-transform linear 0.3s;
  transition: transform linear 0.3s;
}

.fc-color-picker > li .fa:hover {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

#add-new-event {
  transition: all linear 0.3s;
}

.external-event {
  padding: 5px 10px;
  font-weight: bold;
  margin-bottom: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  cursor: move;
}

.external-event:hover {
  box-shadow: inset 0 0 90px rgba(0, 0, 0, 0.2);
}

#calendar {
  margin: 0 auto;
}

.profile .panel-profile {
  border: none;
  margin-bottom: 0;
  box-shadow: none;
}

.profile .panel-heading {
  color: #585f69;
  background: #fff;
  padding: 7px 15px;
  border-bottom: solid 3px #f7f7f7;
}

.overflow-h {
  overflow: hidden;
}

.profile .panel-heading {
  color: #fff;
  padding: 5px 15px;
}

.profile .panel-title {
  font-size: 16px;
}

.profile .profile-blog {
  padding: 20px;
  background: #fff;
}

.profile .blog-border {
  border: 1px solid #f0f0f0;
}

.profile .profile-blog img {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.rounded-x {
  border-radius: 50%;
}

.profile .name-location {
  overflow: hidden;
}

.profile .name-location strong {
  color: #555;
  display: block;
  font-size: 16px;
}

.profile .name-location span a {
  color: #555;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.share-list {
  margin-bottom: 0;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

.list-inline li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 11px;
}

.share-list li i {
  color: #72c02c;
  margin-right: 5px;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f1f1f1;
  border: 1px solid #e8e8e8;
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #000;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #000;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

/* navbar */

.navbar-default {
  font-family: 'Montserrat', sans-serif;
  background: #20638f;
}

/* title */

.navbar-default .navbar-brand {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
}

/* link */

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000;
  background-color: #E7E7E7;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffff;
  background-color: #D5D5D5;
}

/* caret */

.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #777;
  border-bottom-color: #777;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #333;
  border-bottom-color: #333;
}

.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #555;
  border-bottom-color: #555;
}

.navbar-login {
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}

.navbar-login-session {
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.navbar-nav > .notifications-menu,
.navbar-nav > .messages-menu,
.navbar-nav > .tasks-menu {
  position: relative;
}

.navbar-nav > .notifications-menu > .dropdown-menu,
.navbar-nav > .messages-menu > .dropdown-menu,
.navbar-nav > .tasks-menu > .dropdown-menu {
  width: 280px;
  padding: 0 0 0 0 !important;
  margin: 0 !important;
  top: 100%;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li,
.navbar-nav > .messages-menu > .dropdown-menu > li,
.navbar-nav > .tasks-menu > .dropdown-menu > li {
  position: relative;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li.header,
.navbar-nav > .messages-menu > .dropdown-menu > li.header,
.navbar-nav > .tasks-menu > .dropdown-menu > li.header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #ffffff;
  padding: 7px 10px;
  border-bottom: 1px solid #f4f4f4;
  color: #444444;
  font-size: 14px;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a,
.navbar-nav > .messages-menu > .dropdown-menu > li.footer > a,
.navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 12px;
  background-color: #fff;
  padding: 7px 10px;
  border-bottom: 1px solid #eeeeee;
  color: #444 !important;
  text-align: center;
}

@media (max-width: 991px) {
  .navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a,
  .navbar-nav > .messages-menu > .dropdown-menu > li.footer > a,
  .navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a {
    background: #fff !important;
    color: #444 !important;
  }
}

.navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a:hover,
.navbar-nav > .messages-menu > .dropdown-menu > li.footer > a:hover,
.navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a:hover {
  text-decoration: none;
  font-weight: normal;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu {
  max-height: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a {
  display: block;
  white-space: nowrap;
  /* Prevent text from breaking */
  border-bottom: 1px solid #f4f4f4;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a:hover,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:hover,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a:hover {
  background: #f4f4f4;
  text-decoration: none;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {
  color: #444444;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion {
  width: 20px;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a {
  margin: 0px;
  padding: 10px 10px;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > div > img {
  margin: auto 10px auto auto;
  width: 40px;
  height: 40px;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 {
  padding: 0;
  margin: 0 0 0 45px;
  color: #444444;
  font-size: 15px;
  position: relative;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 > small {
  color: #999999;
  font-size: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > p {
  margin: 0 0 0 45px;
  font-size: 12px;
  color: #888888;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:before,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:after {
  content: " ";
  display: table;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:after {
  clear: both;
}

.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a {
  padding: 10px;
}

.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a > h3 {
  font-size: 14px;
  padding: 0;
  margin: 0 0 10px 0;
  color: #666666;
}

.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a > .progress {
  padding: 0;
  margin: 0;
}

.navbar-nav > .user-menu > .dropdown-menu {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 1px 0 0 0;
  border-top-width: 0;
  width: 280px;
}

.navbar-nav > .user-menu > .dropdown-menu,
.navbar-nav > .user-menu > .dropdown-menu > .user-body {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
  height: 175px;
  padding: 10px;
  text-align: center;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
  z-index: 5;
  height: 90px;
  width: 90px;
  border: 3px solid;
  border-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
  z-index: 5;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  font-size: 17px;
  margin-top: 10px;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p > small {
  display: block;
  font-size: 12px;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-body {
  padding: 15px;
  border-bottom: 1px solid #f4f4f4;
  border-top: 1px solid #dddddd;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-body:before,
.navbar-nav > .user-menu > .dropdown-menu > .user-body:after {
  content: " ";
  display: table;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-body:after {
  clear: both;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-body a {
  color: #444;
}

@media (max-width: 991px) {
  .navbar-nav > .user-menu > .dropdown-menu > .user-body a {
    background: #fff;
    color: #444;
  }
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
  background-color: #f9f9f9;
  padding: 10px;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer:before,
.navbar-nav > .user-menu > .dropdown-menu > .user-footer:after {
  content: " ";
  display: table;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer:after {
  clear: both;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default {
  color: #666666;
}

.navbar-nav > .user-menu .user-image {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -2px;
}

@media (max-width: 767px) {
  .navbar-nav > .user-menu .user-image {
    float: none;
    margin-right: 0;
    margin-top: -8px;
    line-height: 10px;
  }
}

/* Fix dropdown menu in navbars */

.navbar-custom-menu > .navbar-nav > li {
  position: relative;
}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
  position: absolute;
  right: 0;
  left: auto;
}

@media (max-width: 991px) {
  .navbar-custom-menu > .navbar-nav {
    float: right;
  }

  .navbar-custom-menu > .navbar-nav > li {
    position: static;
  }

  .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    position: absolute;
    right: 5%;
    left: auto;
    border: 1px solid #ddd;
    background: #fff;
  }
}

.dropdown-list {
  margin: 0;
}

.dropdown-list li {
  border: 0;
  border-top: 1px solid #eee;
  padding: 10px 20px 10px 10px;
  margin: 0;
  cursor: pointer;
}

.dropdown-list li:hover {
  background-color: #fcfcfc;
}

.dropdown-list li:first-child {
  border-top: 0;
}

.dropdown .extended {
  width: 280px;
  padding: 0;
  margin-left: -1px;
  z-index: 3;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border: none;
  max-height: 330px;
  margin-top: 4px;
}

.dropdown .extended li {
  border-bottom: 1px solid #f0f0f0;
  line-height: 20px;
}

.dropdown .extended li a {
  padding: 10px 20px;
}

.dropdown .extended i {
  float: left;
  width: 38px;
  margin-right: 10px;
  text-align: center;
  margin-top: 5px;
}

.dropdown .extended p {
  font-weight: 600;
  background-color: #F5F5F5;
  padding: 10px 15px 11px 15px;
  margin-bottom: 0px;
}

.dropdown .pro-menu {
  width: 200px;
}

.dropdown-menu {
  box-shadow: none;
  border-color: #eee;
}

.dropdown-menu > li > a {
  color: #777;
}

.dropdown-menu > li > a > .glyphicon,
.dropdown-menu > li > a > .fa,
.dropdown-menu > li > a > .ion {
  margin-right: 10px;
}

.dropdown-menu > li > a:hover {
  background-color: #e1e3e9;
  color: #333;
}

.dropdown-menu > .divider {
  background-color: #eee;
}

.navbar-nav .dropdown-menu {
  box-shadow: none;
}

.nav-tabs {
  margin-bottom: 1px;
  border-bottom: 1px solid #ddd;
}

.nav-tabs > li > a {
  color: #000000;
}

.nav.nav-pills {
  margin-bottom: 10px;
}

.nav-tabs.nav-justified.tabs-alt-1 {
  border-bottom: 1px solid #dddddd;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border-top: 3px solid #4596f1;
  color: #000000;
}

.nav-tabs.tabs-alt-1 > li > a {
  background: #f7f7f7;
  color: #000000;
  border: 1px solid #dddddd;
  margin-bottom: 15px;
  padding: 12px;
}

.nav-tabs.tabs-alt-1 > li > a:hover,
.nav-tabs.tabs-alt-1 > li > a:focus {
  background: #fff;
}

.nav-tabs.tabs-alt-1 > li.active > a,
.nav-tabs.tabs-alt-1 > li.active > a:hover,
.nav-tabs.tabs-alt-1 > li.active > a:focus {
  background: #fff;
  color: #000000;
  padding: 10px 12px 12px;
  border-top: 3px solid #4596f1;
  border-bottom: 1px solid #dddddd;
}

.nav-tabs.tabs-below.tabs-alt-1 > li.active > a,
.nav-tabs.tabs-below.tabs-alt-1 > li.active > a:hover,
.nav-tabs.tabs-below.tabs-alt-1 > li.active > a:focus {
  border-top: 1px solid #dddddd;
  border-bottom-width: 3px;
}

.nav-tabs.tabs-below,
.nav-tabs.tabs-right,
.nav-tabs.tabs-left {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
  background: #fff;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.nav-tabs.tabs-below {
  border-top: 1px solid #dddddd;
}

.nav-tabs.tabs-below > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.nav-tabs.tabs-below > li > a {
  margin-bottom: 15px;
}

.nav-tabs.tabs-below.nav-justified > li > a {
  border-bottom: 0;
}

.nav-tabs.tabs-below.tabs-alt-1 > li > a {
  margin-top: 15px;
}

.nav-tabs.tabs-below > li > a:hover,
.nav-tabs.tabs-below > li > a:focus {
  border-top-color: #dddddd;
  border-bottom-color: transparent;
}

.nav-tabs.tabs-below.tabs-alt-1 > li > a:hover,
.nav-tabs.tabs-below.tabs-alt-1 > li > a:focus {
  border-bottom: 1px solid #dddddd;
}

.nav-tabs.tabs-below .active > a,
.nav-tabs.tabs-below .active > a:hover,
.nav-tabs.tabs-below .active > a:focus,
.nav-tabs.tabs-below.nav-justified .active > a,
.nav-tabs.tabs-below.nav-justified .active > a:hover,
.nav-tabs.tabs-below.nav-justified .active > a:focus {
  border-color: transparent #dddddd #4596f1 #dddddd;
  border-bottom: 3px solid #4596f1;
}

.nav-tabs.tabs-below.nav-justified .active > a,
.nav-tabs.tabs-below.nav-justified .active > a:hover,
.nav-tabs.tabs-below.nav-justified .active > a:focus {
  margin-top: -2px;
}

.nav-tabs.tabs-below.tabs-alt-1 .active > a,
.nav-tabs.tabs-below.tabs-alt-1 .active > a:hover,
.nav-tabs.tabs-below.tabs-alt-1 .active > a:focus {
  border-bottom: 1px solid #dddddd;
}

.tab-pane {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
  min-height: 300px;
}

.nav-tabs {
  margin-bottom: 0;
}

.nav-pills + .nav-pills {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #dcdcdc;
}

.nav-pills > li {
  line-height: 17px;
}

.nav-pills > li > a {
  color: #fff;
  padding: 5px 8px 5px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #337ab7;
  color: #fff !important;
}

.user-panel {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 10px 10px 20px;
  background: #fff;
}

.user-panel:before,
.user-panel:after {
  content: ' ';
  display: table;
}

.user-panel:after {
  clear: both;
}

.user-panel > .image > img {
  width: 100%;
  max-width: 45px;
  height: auto;
}

.user-panel > .info {
  padding: 5px 5px 5px 15px;
  line-height: 1;
  position: absolute;
  left: 55px;
}

.user-panel > .info > p {
  font-weight: 10px;
  margin-bottom: 9px;
}

.user-panel > .info > a {
  text-decoration: none;
  padding-right: 5px;
  margin-top: 3px;
  font-size: 11px;
}

.user-panel > .info > a > .fa,
.user-panel > .info > a > .ion,
.user-panel > .info > a > .glyphicon {
  margin-right: 3px;
}

.pickListButtons {
  padding: 10px;
  text-align: center;
}

.pickListButtons button {
  margin-bottom: 6px;
}

.pickListSelect {
  height: 300px !important;
}

.wizard {
    margin: 20px auto;
    background: #fff;
}

.wizard .nav-tabs {
  position: relative;
  margin: 40px auto;
  margin-bottom: 0;
  border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
  position: relative;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5090f7;
    
}
.wizard li.active span.round-tab i{
    color: #5090f7;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}