html {
  position: relative;
  min-height: 100%;
} 

body {
  background-color: #f2f2f2;
  margin: 0;
  overflow-x: hidden;
  color: #797979;
}

.login-page { padding-top: 80px; }
.login-container { margin-top: 60px; }

.panel-login { background-color: #fff;}
.panel-login .panel-footer { background-color: #fff; border-bottom: none; }
