body {
    background-image: url("../img/backgrounds/8Y0EDX4VP9.jpg");
    background-size: 1920px 1080px;
    background-repeat:no-repeat;
    display: compact;
    font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 180px;
    margin-left: 110px;
}
