// Color palette
$color-white:        #fff;
$color-red:          #dd4b39;
$color-yellow:       #f39c12;
$color-aqua:         #00c0ef;
$color-blue:         #5090f7;
$color-black:        #111111;
$color-light-blue:   #3c8dbc;
$color-green:        #00a65a;
$color-gray:         #d2d6de;
$color-lighter-gray: #e7eaec;
$color-navy:         #001f3f;
$color-teal:         #39cccc;
$color-olive:        #3d9970;
$color-lime:         #01ff70;
$color-orange:       #ff851b;
$color-fushia:       #f012be;
$color-purple:       #605ca8;
$color-maroon:       #d81b60;