// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
// Variables
@import '_modules/variables';
// Fonts
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,700,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
// Components
@import '_partials/default';
@import '_partials/text';
@import '_partials/sidebar';
@import '_partials/userPanels';


// TODO: break up into components

.btn {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  border-radius: 2px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none !important;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3);
}

.btn-primary {
  background-color: #226FBC;
  border-color: #226FBC;
  color: #fff;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.30;
  border-radius: 15px;
}

.dropdown-list {
  margin: 0;
}

.dropdown-list li {
  border: 0;
  border-top: 1px solid #eee;
  padding: 10px 20px 10px 10px;
  margin: 0;
  cursor: pointer;
}

.dropdown-list li:hover {
  background-color: #fcfcfc;
}

.dropdown-list li:first-child {
  border-top: 0;
}

.dropdown .extended {
  width: 280px;
  padding: 0;
  margin-left: -1px;
  z-index: 3;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border: none;
  max-height: 330px;
  margin-top: 4px;
}

.dropdown .extended li {
  border-bottom: 1px solid #f0f0f0;
  line-height: 20px;
}

.dropdown .extended li a {
  padding: 10px 20px;
}

.dropdown .extended i {
  float: left;
  width: 38px;
  margin-right: 10px;
  text-align: center;
  margin-top: 5px;
}

.dropdown .extended p {
  font-weight: 600;
  background-color: #F5F5F5;
  padding: 10px 15px 11px 15px;
  margin-bottom: 0px;
}

.dropdown .pro-menu {
  width: 200px;
}


.nav-pills + .nav-pills {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #dcdcdc
}

.nav-pills > li {
  line-height: 17px
}

.nav-pills > li > a {
  color: #fff;
  padding: 5px 8px 5px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #337ab7;
  color: #fff !important;
}




@media (max-width: 767px) {
  .navbar-nav > .user-menu .user-image {
    float: none;
    margin-right: 0;
    margin-top: -8px;
    line-height: 10px;
  }
}

/* Add fade animation to dropdown menus by appending
 the class .animated-dropdown-menu to the .dropdown-menu ul (or ol)*/
.open:not(.dropup) > .animated-dropdown-menu {
  backface-visibility: visible;
  -webkit-animation: flipInX 0.7s both;
  -o-animation: flipInX 0.7s both;
  animation: flipInX 0.7s both;
}

.badge a {
  color: #fff;
}

@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    transform: perspective(400px);
  }
}

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
  }
}

/* Fix dropdown menu in navbars */
.navbar-custom-menu > .navbar-nav > li {
  position: relative;
}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
  position: absolute;
  right: 0;
  left: auto;
}

@media (max-width: 991px) {
  .navbar-custom-menu > .navbar-nav {
    float: right;
  }
  .navbar-custom-menu > .navbar-nav > li {
    position: static;
  }
  .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    position: absolute;
    right: 5%;
    left: auto;
    border: 1px solid #ddd;
    background: #fff;
  }
}

.state-icon {
  left: -5px;
}

.list-group-item-primary {
  color: rgb(255, 255, 255);
  background-color: rgb(66, 139, 202);
}

.login-logo,
.register-logo {
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
}

.login-logo a,
.register-logo a {
  color: #444;
}

.login-page,
.register-page {
  background: $color-white url("../img/6DD2Z0IGZH.jpg") no-repeat fixed;
  background-size: 1855px 1000px;
}

.login-box,
.register-box {
  width: 380px;
  margin-top: 10%;
  margin-left: 60%;

}

@media (max-width: 768px) {
  .login-box,
  .register-box {
    width: 90%;
    margin-top: 90px;
    margin-left: 700px;

  }
}

.login-box-body,
.register-box-body {
  padding: 25px;
  color: #444;
  border-top: 0;
  color: #666;
  border-radius: 5px;
}

.login-box-body .form-control-feedback,
.register-box-body .form-control-feedback {
  color: #777;
}

.login-box-msg,
.register-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px;
}

/* Toggle Styles */

#wrapper {
  padding-top: 37px;
  padding-left: 0;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

.page-header {
  margin-top: 5px;
}

#sidebar-wrapper {
  margin-top: 1px;
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #f5f5f5;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  border-right: 1px solid #e1e1e1;
}

#sidebar-wrapper a {
  color: #4f5051;
  text-decoration: none;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  min-height: 500px;
  padding: 20px;
  background: #fcfcfc;
}

.box {
  padding: 15px;
  background-color: $color-white;
}

#custom-search-form {
  margin: 5px 0 0;
  padding: 0;
}

#custom-search-form .search-query {
  padding-right: 3px;
  padding-right: 4px \9
;
  padding-left: 3px;
  padding-left: 4px \9
;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: width 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}

#custom-search-form button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.search-query:focus + button {
  z-index: 3;
}

.search-query:focus {
  width: 260px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

.row_full {
  margin-left: -25px;
  margin-right: -25px;
  padding: 15px 0;
  background: #ecf0f1;
  border-width: 1px 0;
  border-style: solid;
  border-color: #e2e2e2;
}

.form-multiline .form-group {
  margin-bottom: 15px;
  margin-right: 30px;
}

.form-multiline label,
.form-multiline .form-control {
  margin-right: 15px;
}

.people-group .list-group-item {
  -moz-transition: all 0.2s ease-out 0s;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 0;
  border-width: 0;
}

.people-group .media-heading {
  margin-top: 5px;
}

.people-group .media-heading,
.people-group .media-body {
  line-height: normal;
}

.pagination-contact {
  margin-top: -3px;
}

.contact-group {
  margin-top: 20px;
}

.contact-group .media img {
  width: 80px;
}

.contact-group .list-group-item {

}

.contact-group .media-heading {
  font-size: 16px;
  font-weight: 500;
}

.contact-group .media-heading small {
  margin-left: 5px;
  font-size: 13px;
  font-weight: 400;
  color: #999;
}

.contact-group .list-group-item {
  border-color: #e7e7e7;
  margin-top: 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.contact-group .list-group-item:hover {
  background-color: #fcfcfc;
}

.contact-group .media-content {
  margin-top: 5px;
}

.contact-group .media-content .fa {
  font-size: 16px;
  vertical-align: middle;
  width: 20px;
  color: #333;
}

.contact-group .media-content ul {
  margin-top: 15px;
  margin-bottom: 0;
}

.contact-group .media-content ul > li {
  display: inline-block;
  min-width: 200px;
  margin-bottom: 5px;
}

.form-horizontal .control-label {
  /* text-align:right; */
  text-align: left;
}

@media(min-width: 768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    margin-top: 15px;
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

.alert-warning {
  background-color: #f47c3c;
  border-color: transparent;
  color: #ffffff;
}

.tab-pane {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
  min-height: 300px;
}

.nav-tabs {
  margin-bottom: 0;
}

.entry:not(:first-of-type) {
  margin-top: 10px;
}

.text-warning {
  color: #f89406;
}

.block {
  margin-bottom: 20px;
  clear: both;
  display: block;
  width: 100%;
}

.block.collapsed {
  overflow: hidden;
}

.block .block-heading {
  background: none repeat scroll 0 0 $color-white;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  border-top: 1px solid #e6e6e6;
  -webkit-box-shadow: 1px 4px 4px rgba(0, 0, 0, .2);
  -moz-box-shadow: 1px 4px 4px rgba(0, 0, 0, .2);
  box-shadow: 1px 4px 4px rgba(0, 0, 0, .2);
  padding: 15px;
  margin: 0;
}

.block .block-heading + .block-content-outer {
  border-top: 0;
}

.c-widget .c-widget-heading,
.block .block-heading {
  float: left;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  width: 100%;
}

.c-widget .c-widget-heading .h2,
.c-widget .c-widget-heading .main-text,
.block .block-heading .h2,
.block .block-heading .main-text {
  float: left;
}

.block .block-heading .main-text .badge {
  margin-top: 6px;
}

.block .block-heading .block-controls {
  float: right;
  margin: 7px 0 0;
}

.block .block-heading .block-controls > a,
.block .block-heading .block-controls > button,
.block .block-heading .block-controls > div.btn-group {
  float: right;
  margin: 0 0 4px 4px;
}

.block .block-heading .block-controls > .icon {
  float: right;
  opacity: 0.5;
  margin: 0 0 0 4px;
  cursor: pointer;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.block .block-heading .block-controls .icon:hover {
  opacity: 1;
}

.block .block-content-outer {
  background: none repeat scroll 0 0 $color-white;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  border-top: 1px solid #e6e6e6;
  border-bottom: 3px solid #4596f1;
  padding: 10px;
  clear: both;
  position: relative;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 1px 4px 4px rgba(0, 0, 0, .2);
  -moz-box-shadow: 1px 4px 4px rgba(0, 0, 0, .2);
  box-shadow: 1px 4px 4px rgba(0, 0, 0, .2);
}

.block.collapsed .block-heading {
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.block.collapsed .block-content-outer {
  display: none;
}

.block.collapsed .block-heading .block-controls .icon.block-control-collapse {
  color: #FF0000;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.block-toggle {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -8px;
}

/* Block Colors */
.block.highlight-color-green,
.block.highlight-color-orange,
.block.highlight-color-yellow,
.block.highlight-color-blue,
.block.highlight-color-red,
.block.highlight-color-lime,
.block.highlight-color-purple {
  border-bottom: 0;
}

.block.highlight-color-green .block-content-outer {
  border-bottom: 3px solid #6ec06e;
}

.block.highlight-color-orange .block-content-outer {
  border-bottom: 3px solid #ff8b1a;
}

.block.highlight-color-yellow .block-content-outer {
  border-bottom: 3px solid #ffd040;
}

.block.highlight-color-blue .block-content-outer {
  border-bottom: 3px solid #4596f1;
}

.block.highlight-color-red .block-content-outer {
  border-bottom: 3px solid #f14141;
}

.block.highlight-color-lime .block-content-outer {
  border-bottom: 3px solid #b2cd4d;
}

.block.highlight-color-purple .block-content-outer {
  border-bottom: 3px solid #ff4db6;
}

/* Block Sizes */
.block .block-content-outer .block-content-inner {
  height: auto;
}

.block .block-size-medium .block-content-outer .block-content-inner {
  height: 283px;
  overflow: hidden;
}

.block .block-size-normal .block-content-outer .block-content-inner {
  height: 210px;
  overflow: hidden;
}

.block .block-size-large .block-content-outer .block-content-inner {
  height: 720px;
  overflow: hidden;
}

.top-border + .top-border {
  display: none;
}

.nav-tabs {
  margin-bottom: 1px;
  border-bottom: 1px solid #ddd;
}

.nav-tabs > li > a {
  color: #000000;
}

.nav.nav-pills {
  margin-bottom: 10px;
}

.nav-tabs.nav-justified.tabs-alt-1 {
  border-bottom: 1px solid #dddddd;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border-top: 3px solid #4596f1;
  color: #000000;
}

.nav-tabs.tabs-alt-1 > li > a {
  background: #f7f7f7;
  color: #000000;
  border: 1px solid #dddddd;
  margin-bottom: 15px;
  padding: 12px;
}

.nav-tabs.tabs-alt-1 > li > a:hover,
.nav-tabs.tabs-alt-1 > li > a:focus {
  background: $color-white;
}

.nav-tabs.tabs-alt-1 > li.active > a,
.nav-tabs.tabs-alt-1 > li.active > a:hover,
.nav-tabs.tabs-alt-1 > li.active > a:focus {
  background: $color-white;
  color: #000000;
  padding: 10px 12px 12px;
  border-top: 3px solid #4596f1;
  border-bottom: 1px solid #dddddd;
}

.nav-tabs.tabs-below.tabs-alt-1 > li.active > a,
.nav-tabs.tabs-below.tabs-alt-1 > li.active > a:hover,
.nav-tabs.tabs-below.tabs-alt-1 > li.active > a:focus {
  border-top: 1px solid #dddddd;
  border-bottom-width: 3px;
}

.nav-tabs.tabs-below,
.nav-tabs.tabs-right,
.nav-tabs.tabs-left {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
  background: $color-white;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.nav-tabs.tabs-below {
  border-top: 1px solid #dddddd;
}

.nav-tabs.tabs-below > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.nav-tabs.tabs-below > li > a {
  margin-bottom: 15px;
}

.nav-tabs.tabs-below.nav-justified > li > a {
  border-bottom: 0;
}

.nav-tabs.tabs-below.tabs-alt-1 > li > a {
  margin-top: 15px;
}

.nav-tabs.tabs-below > li > a:hover,
.nav-tabs.tabs-below > li > a:focus {
  border-top-color: #dddddd;
  border-bottom-color: transparent;
}

.nav-tabs.tabs-below.tabs-alt-1 > li > a:hover,
.nav-tabs.tabs-below.tabs-alt-1 > li > a:focus {
  border-bottom: 1px solid #dddddd;
}

.nav-tabs.tabs-below .active > a,
.nav-tabs.tabs-below .active > a:hover,
.nav-tabs.tabs-below .active > a:focus,
.nav-tabs.tabs-below.nav-justified .active > a,
.nav-tabs.tabs-below.nav-justified .active > a:hover,
.nav-tabs.tabs-below.nav-justified .active > a:focus {
  border-color: transparent #dddddd #4596f1 #dddddd;
  border-bottom: 3px solid #4596f1;
}

.nav-tabs.tabs-below.nav-justified .active > a,
.nav-tabs.tabs-below.nav-justified .active > a:hover,
.nav-tabs.tabs-below.nav-justified .active > a:focus {
  margin-top: -2px;
}

.nav-tabs.tabs-below.tabs-alt-1 .active > a,
.nav-tabs.tabs-below.tabs-alt-1 .active > a:hover,
.nav-tabs.tabs-below.tabs-alt-1 .active > a:focus {
  border-bottom: 1px solid #dddddd;
}

.opacityinact {
  pointer-events: none;
  border: 0px solid black;
  opacity: .6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

.column {
  padding-bottom: 100px;
}

.portlet {
  margin: 0 1em 1em 0;
}

.portlet-header {
  margin: 0.3em;
  padding-bottom: 4px;
  padding-left: 0.2em;
}

.portlet-header .ui-icon {
  float: right;
}

.portlet-content {
  padding: 0.4em;
}

.ui-sortable-placeholder {
  border: 1px dotted black;
  visibility: visible;
  height: 50px;
}

.ui-sortable-placeholder * {
  visibility: hidden;
}

.comment-list .row {
  margin-bottom: 0px;
}

.comment-list .panel .panel-heading {
  padding: 4px 15px;
  position: absolute;
  border: none;
  /*Panel-heading border radius*/
  border-top-right-radius: 0px;
  top: 1px;
}

.comment-list .panel .panel-heading.right {
  border-right-width: 0px;
  /*Panel-heading border radius*/
  border-top-left-radius: 0px;
  right: 16px;
}

.comment-list .panel .panel-heading .panel-body {
  padding-top: 6px;
}

.comment-list figcaption {
  /*For wrapping text in thumbnail*/
  word-wrap: break-word;
}

/* Portrait tablets and medium desktops */
@media (min-width: 768px) {
  .comment-list .arrow:after, .comment-list .arrow:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: solid transparent;
  }
  .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
    border-left: 0;
  }
  /*****Left Arrow*****/
  /*Outline effect style*/
  .comment-list .panel.arrow.left:before {
    left: 0px;
    top: 30px;
    // Use boarder color of panel
    border-right-color: inherit;
    border-width: 16px;
  }

  // Background color effect
  .comment-list .panel.arrow.left:after {
    left: 1px;
    top: 31px;
    // Change for different outline color
    border-right-color: $color-white;
    border-width: 15px;
  }
  /*****Right Arrow*****/

  /*Outline effect style*/
  .comment-list .panel.arrow.right:before {
    right: -16px;
    top: 30px;
    // Use boarder color of panel
    border-left-color: inherit;
    border-width: 16px;
  }

  // Background color effect
  .comment-list .panel.arrow.right:after {
    right: -14px;
    top: 31px;
    // Change for different outline color
    border-left-color: $color-white;
    border-width: 15px;
  }
}

.comment-list .comment-post {
  margin-top: 6px;
}

/* Ticket page */
ul.padding li {
  padding: 0.3em 0;
}

.ticket-header {
  padding: 0 0 1em 0;
}

.ticket-items {
  padding: 1em 0;
}

.ticket-items .panel-heading a {
  text-decoration: none;
}

.ticket-message-content {
  padding: 1em;
}

.ticket-message-content .quote {
  color: #808080; /* Move to LESS */
  font-size: 0.9em;
  font-style: italic;
}

.panel-heading.tocustomer {
  background: #ddd; /* Move to LESS */
}

.glyphicon-envelope.read {
  display: none;
}

.ticket-message .btn.btn-primary {
  margin: .5em;
}

.attachment.pull-right {
  padding: 0 0.5em;
}

td.action {
  white-space: nowrap;
}

.navbar-input-group {
  font-size: 0; // removes whitespace between button and input
}

.navbar-input-group input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.navbar-input-group .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}

/* Input group */
.input-group .input-group-addon {
  border-radius: 0px;
  border-color: #d2d6de;
  background-color: $color-white;
}

/* button groups */
.btn-group-vertical .btn.btn-flat:first-of-type,
.btn-group-vertical .btn.btn-flat:last-of-type {
  border-radius: 0;
}

.icheck > label {
  padding-left: 0;
}

/* Background colors */
.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black,
.bg-red-active,
.bg-yellow-active,
.bg-aqua-active,
.bg-blue-active,
.bg-light-blue-active,
.bg-green-active,
.bg-navy-active,
.bg-teal-active,
.bg-olive-active,
.bg-lime-active,
.bg-orange-active,
.bg-fuchsia-active,
.bg-purple-active,
.bg-maroon-active,
.bg-black-active,
.callout.callout-danger,
.callout.callout-warning,
.callout.callout-info,
.callout.callout-success,
.alert-danger,
.alert-error,
.alert-warning,
.alert-info,
.label-danger,
.label-info,
.label-waring,
.label-primary,
.label-success {
  color: $color-white;
}

.bg-gray {
  color: #000;
  background-color: #d2d6de;
}

.bg-black {
  background-color: #111111;
}

.bg-red,
.callout.callout-danger,
.alert-danger,
.alert-error,
.label-danger,
.modal-danger .modal-body {
  background-color: #dd4b39;
}

.bg-yellow,
.callout.callout-warning,
.alert-warning,
.label-waring,
.modal-warning .modal-body {
  background-color: #f39c12;
}

.bg-aqua,
.callout.callout-info,
.alert-info,
.label-info,
.modal-info .modal-body {
  background-color: #00c0ef;
}

.bg-blue {
  background-color: #0073b7;
}

.bg-light-blue,
.label-primary,
.modal-primary .modal-body {
  background-color: #3c8dbc;
}

.bg-green,
.callout.callout-success,
.label-success,
.modal-success .modal-body {
  background-color: #00a65a;
}

.bg-navy {
  background-color: #001f3f;
}

.bg-teal {
  background-color: #39cccc;
}

.bg-olive {
  background-color: #3d9970;
}

.bg-lime {
  background-color: #01ff70;
}

.bg-orange {
  background-color: #ff851b;
}

.bg-fuchsia {
  background-color: #f012be;
}

.bg-purple {
  background-color: #605ca8;
}

.bg-maroon {
  background-color: #d81b60;
}

.bg-gray-active {
  color: #000;
  background-color: #b5bbc8;
}

.bg-black-active {
  background-color: #000000;
}

.bg-red-active,
.modal-danger .modal-header,
.modal-danger .modal-footer {
  background-color: #d33724;
}

.bg-yellow-active,
.modal-warning .modal-header,
.modal-warning .modal-footer {
  background-color: #db8b0b;
}

.bg-aqua-active,
.modal-info .modal-header,
.modal-info .modal-footer {
  background-color: #00a7d0;
}

.bg-blue-active {
  background-color: #005384;
}

.bg-light-blue-active,
.modal-primary .modal-header,
.modal-primary .modal-footer {
  background-color: #357ca5;
}

.bg-green-active,
.modal-success .modal-header,
.modal-success .modal-footer {
  background-color: #008d4c;
}

.bg-navy-active {
  background-color: #001a35;
}

.bg-teal-active {
  background-color: #30bbbb;
}

.bg-olive-active {
  background-color: #368763;
}

.bg-lime-active {
  background-color: #00e765;
}

.bg-orange-active {
  background-color: #ff7701;
}

.bg-fuchsia-active {
  background-color: #db0ead;
}

.bg-purple-active {
  background-color: #555299;
}

.bg-maroon-active {
  background-color: #ca195a;
}

[class^="bg-"].disabled {
  opacity: .65;
  filter: alpha(opacity=65);
}

/*Hide elements by display none only*/
.hide {
  display: none;
}

/* Remove borders */
.no-border {
  border: 0px;
}

/* Remove padding */
.no-padding {
  padding: 0px;
}

/* Remove margins */
.no-margin {
  margin: 0px;
}

/* Remove box shadow */
.no-shadow {
  box-shadow: none;
}

.main-footer {
  margin-left: 0;
  min-height: 0;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  background: $color-white;
  padding: 15px;
  color: #444;
  border-top: 1px solid #eee;
}
