.text-red {
  color: $color-red;
}

.text-yellow {
  color: $color-yellow;
}

.text-aqua {
  color: $color-aqua;
}

.text-blue {
  color: $color-blue;
}

.text-black {
  color: $color-black;
}

.text-light-blue {
  color: $color-light-blue;
}

.text-green {
  color: $color-green;
}

.text-gray {
  color: $color-gray;
}

.text-navy {
  color: $color-navy;
}

.text-teal {
  color: $color-teal;
}

.text-olive {
  color: $color-olive;
}

.text-lime {
  color: $color-olive;
}

.text-orange {
  color: $color-orange;
}

.text-fuchsia {
  color: $color-fushia;
}

.text-purple {
  color: $color-purple;
}

.text-maroon {
  color: $color-maroon;
}
