.timeline {
  list-style: none;
  margin: 0 0 1px;
  padding: 0;
  position: relative;

  // .timeline:before
  &:before {
    background: $color-timeline-gray;
    border-radius: 2px;
    bottom: 0;
    content: '';
    left: 31px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 4px;
  }

  // .timeline > li
  > li {
    position: relative;
    margin-right: 10px;
    margin-bottom: 15px;

    // .timeline > li.time-label > span
    &.time-label > span {
      font-weight: 600;
      padding: 3px;
      display: block;
      background-color: #f1f1f1;
      border-radius: 4px;
    }


    // .timeline > li > .fa,
    // .timeline > li > .glyphicon,
    // .timeline > li > .ion
    > .fa,
    > .glyphicon,
    > .ion {
      width: 30px;
      height: 30px;
      font-size: 15px;
      line-height: 30px;
      position: absolute;
      color: #666;
      background: #d2d6de;
      border-radius: 50%;
      text-align: center;
      left: 18px;
      top: 0;
    }

    // .timeline > li:after
    &:after {
      clear: both;
    }

    // .timeline > li > .timeline-item
    > .timeline-item {
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
      box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
      border-radius: 3px;
      margin-top: 0;
      background: $color-white;
      color: #444;
      margin-left: 60px;
      margin-right: 15px;
      padding: 0;
      position: relative;

      // .timeline > li > .timeline-item > .timeline-header
      > .timeline-header {
        margin: 0;
        color: #555;
        border-bottom: 1px solid #f4f4f4;
        padding: 10px;
        font-size: 16px;
        line-height: 1.1;

        // .timeline > li > .timeline-item > .timeline-header > a
        > a {
          font-weight: 600;
        }
      }

      // .timeline > li > .timeline-item > .time
      > .time {
        color: #999;
        float: right;
        padding: 10px;
        font-size: 12px;
      }

      // .timeline > li > .timeline-item > .timeline-body,
      // .timeline > li > .timeline-item > .timeline-footer
      > .timeline-body,
      > .timeline-footer {
        padding: 10px;
      }
    }

    // .timeline > li:before,
    // .timeline > li:after
    &:before,
    &:after {
      content: " ";
      display: table;
    }
  }
}
